@font-face {
  font-family: 'Prata';
  src: url('./public/font/prata/Prata-Regular.ttf');
}
@font-face {
  font-family: 'Arial';
  src: url('./public/font/arial/ARIAL.TTF');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Arial', sans-serif;
}
body {
  width: 100%;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 207px;
  &__logo {
    font-family: 'Prata', sans-serif;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0.03em;
  }
}
.burger {
  display: none;
  &__menu {
    display: none;
  }
}
.nav {
  display: inline-flex;
  column-gap: 30px;
  &__link {
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
}
.banner {
  background-color: #222222;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 163px;
    padding-top: 35px;
    padding-bottom: 50px;
  }
  &__head {
    font-family: 'Prata', serif;
    font-size: 80px;
    font-weight: 400;
    line-height: 96px;
    margin-bottom: 16px;
  }
  &__subhead {
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-bottom: 40px;
    &__item {
      display: flex;
      align-items: center;
      gap: 19px;
      background-color: #262626;
      width: fit-content;
      padding-right: 15px;
      &__text {
        font-size: 24px;
        font-weight: 400;
        line-height: 26.4px;
      }
      &__num {
        font-family: 'Prata';
        font-size: 40px;
        font-weight: 400;
        letter-spacing: 0.04em;
        padding-top: 1px;
        position: relative;
        top: 8px;
      }
    }
  }
  &__btn {
    border: none;
    background-color: #fff;
    padding: 30px 49px;
    color: #222;
    border-radius: 4px;

    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.04em;
    text-align: center;
    text-transform: uppercase;
  }
  &__img {
    width: 40%;
    object-fit: cover;
  }
}
.active {
  display: flex;
  justify-content: space-between;
  background-color: #282828;
  padding-top: 100px;
  &__img {
    width: 32%;
    object-fit: cover;
  }
  &__center {
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 44px;
    &__row {
      display: flex;
      align-items: flex-start;
      column-gap: 20px;
      border-bottom: 1px solid #55556a;
      padding-bottom: 32px;
      &:last-child {
        border-bottom: none;
      }
      &__img {
        padding-top: 10px;
      }
      &__text {
        font-size: 24px;
        font-weight: 400;
        line-height: 33.6px;
      }
    }
  }
  &__btn {
    border: none;
    text-transform: uppercase;
    color: #222;
    background-color: #fff;

    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.04em;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 100%;
  }
}
.back {
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #282828;
  &__ins {
    width: 83%;
    margin: 0 auto;
    height: 628px;
    border-radius: 30px;
    background-color: #fff;
    background-image: url('./public/img/form.jpg');
    background-repeat: no-repeat;
    background-position: 120% 50%;
    &__block {
      padding-top: 72px;
      padding-left: 132px;
      &__head {
        font-family: 'Prata';
        font-size: 54px;
        font-weight: 400;
        line-height: 59.4px;
        color: #38535d;
        margin-bottom: 45px;
      }
    }
  }
}
.form {
  &__inp {
    display: block;
    border-radius: 4px;
    border: 2px solid #d6d6d6;
    margin-bottom: 13px;
    height: 65px;
    width: 54%;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    padding-left: 38px;
  }
  &__submit {
    border: none;
    background-color: #282829;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-transform: uppercase;
    padding-top: 32px;
    padding-bottom: 32px;
    width: 54%;
  }
}
.policy {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 26px;
  margin-bottom: 26px;
  &__inp {
    width: 24px;
    height: 24px;
    border: 2px solid #405d65;
  }
  &__check {
    color: #55556a;
    font-size: 19px;
    font-weight: 400;
    line-height: 24.7px;
  }
}
.footer {
  background-color: #222;
  &__nav {
    border-top: 2px solid #d5c9be;
    border-bottom: 2px solid #d5c9be;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 60px;
    &__link {
      text-transform: uppercase;
      font-size: 20px;
      font-style: italic;
      font-weight: 400;
      line-height: 30px;
      letter-spacing: 0.04em;
    }
  }
}
.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1597px;
  margin: 0 auto;
  padding-top: 43px;
  padding-left: 2%;
  padding-right: 2%;
  &__logo {
    text-transform: uppercase;
    font-family: 'Prata', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0.03em;
    display: inline;
    color: #fff;
  }
  &__socials {
    display: inline-flex;
    gap: 32px;
    align-items: center;
  }
  &__btn {
    border: none;
    background-color: #fff;
    color: #222;
    text-transform: uppercase;

    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.04em;
    padding: 32px 52px;
  }
}
.down {
  max-width: 1597px;
  margin: 0 auto;
  margin-top: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;
  padding-left: 2%;
  padding-right: 2%;
  &__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #d5c9be;
  }
  &__copy {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
}

@media (max-width: 1860px) {
  .banner {
    &__wrap {
      padding-left: 5%;
    }
    &__img {
      width: 30%;
    }
  }
  .back {
    &__ins {
      &__block {
        padding-left: 80px;
      }
    }
  }
}

@media (max-width: 1600px) {
  .remover {
    display: none;
  }
  .header {
    margin-bottom: 30px;
  }
  .banner {
    &__wrap {
      padding-left: 3%;
    }
    &__head {
      font-size: 50px;
      line-height: 55px;
      margin-bottom: 30px;
    }
    &__subhead {
      font-size: 36px;
      line-height: 40px;
    }
    &__list {
      &__item {
        &__text {
          font-size: 18px;
        }
        &__num {
          font-size: 32px;
          top: 5px;
        }
      }
    }
  }
}
@media (max-width: 1500px) {
  .back {
    &__ins {
      background-size: cover;
    }
  }
  .policy {
    &__check {
      color: #fff;
    }
  }
}
@media (max-width: 1200px) {
  .active {
    &__remove {
      display: none;
    }
    &__center {
      margin: 0 auto;
      width: 45%;
    }
    &__img {
      width: 40%;
    }
  }
}
@media (max-width: 1024px) {
  .header {
    gap: 0;
    &__logo {
      font-size: 20px;
      width: 100px;
    }
  }
  .nav {
    display: none;
  }
  .banner {
    &__head {
      font-size: 20px;
      line-height: 30px;
    }
    &__subhead {
      font-size: 16px;
      line-height: 20px;
    }
    &__img {
      display: none;
    }
    &__wrap {
      margin: 0 auto;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
    }
    &__list {
      gap: 20px;
      &__item {
        padding-right: 0;
        gap: 10px;
        &__text {
          font-size: 14px;
        }
        &__num {
          font-size: 18px;
          top: 2px;
        }
      }
    }
    &__btn {
      width: 100%;
      padding: 5px 0;
      font-size: 16px;
    }
  }
  .active {
    padding-top: 0;
    &__img {
      display: none;
    }
    &__center {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
    }
    &__list {
      &__row {
        &__text {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
    &__btn {
      padding: 5px 0;
      font-size: 16px;
      width: 100%;
    }
  }
  .br {
    display: none;
  }
  .back {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
    padding-top: 30px;
    &__ins {
      width: 100%;
      height: 315px;
      background-position: 0% 0%;
      &__block {
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 10px;
        &__head {
          font-size: 30px;
          line-height: 30px;
          margin-bottom: 20px;
        }
      }
    }
  }
  .form {
    &__inp {
      width: 100%;
      height: 50px;
      padding-left: 15px;
    }
    &__submit {
      width: 100%;
      font-size: 16px;
      padding: 5px 0;
    }
  }
  .line {
    flex-direction: column;
    padding-top: 30px;
    &__logo {
      font-size: 20px;
    }
    &__socials {
      gap: 0;
      justify-content: space-between;
      width: 100%;
    }
    &__btn {
      font-size: 16px;
      padding: 5px 0;
      width: 100%;
      margin-top: 20px;
    }
  }
  .footer {
    &__nav {
      padding-top: 20px;
      padding-bottom: 20px;
      gap: 0;
      justify-content: space-between;
      &__link {
        letter-spacing: 0;
        font-size: 16px;
        line-height: 20px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
  .down {
    padding-bottom: 30px;
    &__copy {
      font-size: 14px;
    }
    &__text {
      font-size: 14px;
    }
  }
  .burger {
    display: inline;
    width: 32px;
    height: 32px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(201deg)
      brightness(106%) contrast(106%);
  }
}
